<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'products/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'products/bootstrap/css/bootstrap.min.css' %}">
    
    {% block title %}{% endblock title %}
</head>
<body>
    {% block content %}{% endblock content %}
    <script scr="{% static 'products/bootstrap/js/bootstrap.js' %}"></script>
    <script scr="{% static 'products/bootstrap/js/bootstrap.min.js' %}"></script>
    
</body>
</html>