{% extends 'registration/index.html' %}

{% block content %}

<meta name="google-signin-client_id" content="624224382906-uldcfqfb770thktimpq6f2ajv1ome9m7.apps.googleusercontent.com">

<div class="g-signin2" data-onsuccess="onSignIn"></div>


<script >
  
  function onSignIn(googleUser) {
    var profile = googleUser.getBasicProfile();
    console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
    console.log('Name: ' + profile.getName());
    console.log('Image URL: ' + profile.getImageUrl());
    console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
  }
</script>


<script src="https://apis.google.com/js/platform.js" async defer></script>
{% endblock content %}