{% extends 'products/index.html' %}
{% load static %}
{% block title %}


<link href="{% static 'products/bootstrap/css/carousel.css' %}" rel="stylesheet">{% endblock title %}

{% block content %}
<body>

<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Riggs Store</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>7
          {% if user.is_authenticated  %}
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'orders:finish_order' %}">carrinho</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"href="{% url 'orders:show_orders'%}">Meu pedidos</a>
          </li>
          {% endif %}
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Busca</button>
        </form>
      </div>
    </div>
  </nav>
</header>

<main>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active" aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item">
        
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>
        <img src="{% static 'products/imagens/fundo-negro.png' %}" alt="">
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Faça suas compras</h1>
            <p>Faremos o possível e impossível para sua entrega chegar o mais rápido possível!</p>
            <p><a class="btn btn-lg btn-primary" href="#">Vejas seus pedidos</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>
        <img src="{% static 'products/imagens/fundo-negro.png' %}" alt="">
        <div class="container">
          <div class="carousel-caption">
            <h1> Bem vindo à Riggs Store</h1>
            <p>Nossa loja tem o foco de possibilitar a compras de produtos importados de uma maneira acessivel</p>
            <p><a class="btn btn-lg btn-primary" href="#">Ver produtos</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>
        <img src="{% static 'products/imagens/fundo-negro.png' %}" alt="">
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Preço justo</h1>
            <p>Sempre estaremos dispostos a oferecer as melhores condições para nossos clientes </p>
            <p><a class="btn btn-lg btn-primary" href="#">Ir para as compras</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<h1 class="text-center"> Listas de produtos</h1>

<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% if all_products %}
        {% for product in all_products  %}
            <div class="col">
              <div class="card shadow-sm">
                <img src="{{product.imagem_product.all.0.imagem_of_product.url}}" class="img-thumbnail" alt="">
                <div class="card-body">
                  <h5>{{product.name}}</h5>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                    
                      <a href="{% url 'products:detail_product' product.name%}"><button type="button" class="btn btn-lg btn-outline-primary">Ver produto</button></a>
                      
                      <button disabled = "disabled" class="btn btn-lg btn-dark">R${{product.price}}</button>
                      
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}
      {% else %}
        <h1>Infelizmente estamos sem produtos, jovem padawan :(</h1>
      {% endif %}


        
        
  <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>© 2017–2021 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
  </footer>
</main>


    <script src="{% static 'products/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

      
  

</body>
{% endblock content %}