<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'products/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'products/bootstrap/css/bootstrap.min.css' %}">
    {% block title %}{% endblock title %}
</head>
<body>
    {% block content %}{% endblock content %}
    <script scr="{% static 'products/bootstrap/js/bootstrap.js' %}"></script>
    <script scr="{% static 'products/bootstrap/js/bootstrap.min.js' %}"></script>
    <img src="https:\\/\\/scontent-gig2-1.cdninstagram.com\\/v\\/t51.29350-15\\/272624319_1016200939251610_2038640371415814775_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=8ae9d6&_nc_ohc=KAwhl-lUrwoAX9iz8HV&_nc_ht=scontent-gig2-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AT-txC-dzr_egHkKeOqzxZMatnVpI5g2suZDt0p4D56CEA&oe=61F4B849" alt="">

</body>
</html>