{% extends 'users/index.html' %}
{% load static %}

{% block css_content_personali %}

<link rel="stylesheet" href="{% static 'products/bootstrap/css/signin.css' %}">

{% endblock css_content_personali %}
{% block content %}


<body block="" class="text-center">
  <main class="form-signin">
    <form action = "{% url 'clients:login_custom' %}" method = 'POST'>
      {% csrf_token %}
      <img class="mb-4" src="{% static 'products/imagens/logo.png' %}" alt="" width="300" height="200">
      <h1 class="h3 mb-3 fw-normal">Por favor, faça seu login</h1>
      {% if error_message %}
        <div class="alert alert-danger" role="alert">
          {{error_message}}
        </div>
      {% endif %}
      <div class="form-floating">
        <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
        <label for="floatingInput">Endereço de email</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="password" name ="password" placeholder="Password">
        <label for="floatingPassword">Senha</label>
      </div>
      <div class="form-floating"> 
        <a href="http://">Clique aqui para criar sua conta.</a>
      </div>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Lembre-se
        </label>
      </div>
      
      <button class="w-100 btn btn-lg btn-primary" type="submit">Entrar</button>
      <p class="mt-5 mb-3 text-muted">© 2017–2021</p>
    </form>
  </main>
  
  
      
<meta name="google-signin-client_id" content="624224382906-uldcfqfb770thktimpq6f2ajv1ome9m7.apps.googleusercontent.com">

<div class="g-signin2" data-onsuccess="onSignIn"></div>

<script >
  
  function onSignIn(googleUser) {
    var profile = googleUser.getBasicProfile();
    console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
    console.log('Name: ' + profile.getName());
    console.log('Image URL: ' + profile.getImageUrl());
    console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
  }
</script>


<script src="https://apis.google.com/js/platform.js" async defer></script>
{% endblock content %}